.corAzul {
  background-color: #007bff;
  border: 1px solid rgba(0,123,255,.25);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.corAzul:hover {
  color: #f8f9fa;
  background-color: #007bff;
  border-color: #007bff;
}

.corAzul:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.corVerde {
  background-color: #28a745;
  border: 1px solid rgba(0,123,255,.25);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.corVerde:hover {
  color: #f8f9fa;
  background-color: #28a745;
  border-color: #28a745;
}

.corPadrao {
  background-color: rgba(121, 121, 121, 0.329);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #3e2965;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.corPadrao:hover {
  color: #3e2965;
  background-color: #f8f9fa;
  border-color: #3e2965;
  
}

.bg-dark {
  background-color: #3e2965!important;
}

.bi {
  color: #3e2965;
}

.corVerde .bi {
  color: #ffffff;
}

.corAzul .bi {
  color: #ffffff;
}
